@{
    ViewBag.Title = "About Logan Schmit";
}
<h2>@ViewBag.Title.</h2>

<p>I am passionate and driven sports enthusiast looking to pursue a career in information systems in a sports, technology, or related industry</p>
