@{
    ViewBag.Title = "Logan Schmit's Contact Information";
}
<h2>@ViewBag.Title.</h2>

<address>
    18 Oak Street<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    440-292-5085
</address>

<address>
    <strong>Contact Me:</strong>   <a href="mailto:ls917815@ohio.edu">ls917815@ohio.edu</a><br />
  
</address>