@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS4200</h1>
    <p>
    Welcome! Thank you for visiting Logan Schmit's website!
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Majors</h2>
        <p>
            I will be graduating in May 2020 with two degrees in Management Information Systems & Marketing.
        </p>        
    </div>
    <div class="col-md-4">
        <h2>My Clubs and Organizations</h2>
        <p>
            I am the President of the Men's Club Soccer team and a member of OU's Information Systems & Analytics group
            <br />
            <br />
            Examples from SD2
            <br />
            @Html.ActionLink("Employer", "Index", "Employers") <br />
            @Html.ActionLink("Employee", "Index", "Employees") <br />
            @Html.ActionLink("Client", "Index", "Clients") <br />

        </p>        
    </div>
    <div class="col-md-4">
        <h2>What I want to Accomplish in MIS4200</h2>
        <p>
            I am very excited to be completing my last two classes in the major. I hope to learn more about Full Stack developing and utilize my knowledge of database & website design to land a job post-graduation.
        </p>       
    </div>
</div>